{% extends  'base.html' %}
{% block content%}
<br>
<div class=" mb-3 card mb-3 " style="background-color: #C9D8B6; color:#57837B;">

  <div class="card-body  text-center">
    <h5 class="card-title">NEURO FUZZY BASED IOT ASSISTED POWER MONITORING SYSTEM FOR SMART GRID</h5>
    <p class="card-text">B.tech EEE (2018-2022)</p>
    <p class="card-text">Final Year Project</p>
  </div>
</div><br>
  <br>
  
{% if indi == 11 %}
  <div class="card border-success mb-3">
    
    <div class="card-body" style="background-color: #C9D8B6;">
      <h5 class="card-title">{{sys}}</h5>
      <p class="card-text">Solar Voltage is {{solar}}V<br> Wind Voltage is {{wind}}V<br>Temperature of the system is {{temp}} °C and {{status}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

      <div class="row row-cols-1 row-cols-md-3 g-4" >
        <div class="col">
          <div class="card h-100 border-success" style="background-color: #B8F1B0;">
            <img src="https://media.giphy.com/media/Is0BjvPeeZ7w5EuFIT/giphy.gif" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: #C9D8B6;">
              <h5 class="card-title">Solar</h5>
              <p class="card-text">Solar Voltage Recieved is {{solar}}V</p>
            </div>
            <div class="card-footer" style="background-color: #C9D8B6;">
              <small class="text-muted">Last updated 30seconds ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-success">
            {% if status == 'Low'%}
            <img src="https://www.pngkey.com/png/detail/415-4157378_heat-o-meter-speedometer-infographic.png" class="card-img-top" alt="...">
            {%else%}
            <img src="https://c.tenor.com/Cy4z6MdBBKAAAAAC/term%C3%B4metro-t%C3%A1esquentando.gif" class="card-img-top" alt="...">
            {%endif%}
            <div class="card-body" style="background-color: #C9D8B6;">
              <h5 class="card-title">Temperature</h5>
              <p class="card-text">Current System Temperature  is {{temp}}°C </p>
              <p class="card-text">Current System Temperature Status is {{status}} </p>
            </div>
            <div class="card-footer" style="background-color: #C9D8B6;">
              <small class="text-muted">Last updated 30seconds ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-success">
            <img src="https://media.giphy.com/media/rDohL8AWQsBhh6Xhfz/giphy.gif" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: #C9D8B6;">
              <h5 class="card-title">Wind Energy</h5>
              <p class="card-text">Wind Voltage recieved is {{wind}}V </p>
            </div>
            <div class="card-footer" style="background-color: #C9D8B6;">
              <small class="text-muted">Last updated 30seconds ago</small>
            </div>
          </div>
        </div>
      </div>


{% else %}

<div class="row row-cols-1 row-cols-md-2 g-4" style="background-color: #57837B;">
  <div class="col">
    <div class="card">
      <img src="https://thumbs.gfycat.com/ColossalMarriedIntermediateegret-size_restricted.gif" height="50%" width = "50%" class="card-img-top" alt="...">
      <div class="card-body" style="background-color: #C9D8B6;">
        <h5 class="card-title">Grid Connected</h5>
        <p class="card-text">The System is Connected to Grid for now.</p>
        <p class="card-text"><small class="text-muted">Last updated 30 seconds ago</small></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      {% if status == 'Low'%}
            <img src="https://www.pngkey.com/png/detail/415-4157378_heat-o-meter-speedometer-infographic.png" class="card-img-top" alt="...">
            {%else%}
            <img src="https://c.tenor.com/Cy4z6MdBBKAAAAAC/term%C3%B4metro-t%C3%A1esquentando.gif" class="card-img-top" alt="...">
            {%endif%}
            <div class="card-body" style="background-color: #C9D8B6;">
              <h5 class="card-title">Temperature</h5>
              <h4 class="card-text">Current System Temperature  is {{temp}} </h4>
              <p class="card-text">Current System Temperature Status is {{status}} </p>
            </div>
            <div class="card-footer" style="background-color: #C9D8B6;">
              <small class="text-muted">Last updated 30seconds ago</small>
            </div>
    </div>
  </div>
</div><br>

{% endif %}
<br>
<div class="card  mb-3" style="background-color: #C9D8B6; color:#57837B;">
  <div class="card-header"><i class="fa fa-address-card"></i>  About Us</div>
  <div class="card-body" >
    <p class="card-title">We are Students of SASTRA University, SRC pursuing B.Tech EEE final year and we are deploying our Final Year project here on heroku to showcase our project</p>
    <p class="card-text">Contact US through</p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/ajayj2000/" role="button"><i class="fa fa-linkedin"> Linkedin</i></a> &emsp;
      <a class="btn btn-primary" style="background-color: #ac2bac;" href="https://instagram.com/ajay.jayaraj.04?igshid=YmMyMTA2M2Y=" role="button"><i class="fa fa-instagram"> Instagram</i></a>
    </div>
  </div>
</div>
</div>

      <script>
        window.setInterval('refresh()', 20000);
        function refresh() {
            window .location.reload();
        }
    </script>
{%endblock%}
